<div class="container-fluid" ng-controller="JingController">
    <img src = "src/assets/image/jing/background.jpg" style="position:fixed;
    top: 0;left:0;width:100%;height:auto;min-width:1024px;min-height:100%">

    <div class="row" style="margin-top: 6%;">
        <div class="col-sm-4" style="margin-left: 2%">
            <div class="row">
                <div class="col-sm-3" data-toggle="tooltip" title="初始的试探~">
                    <a ng-click="setDIV(1)" onclick="play1()">
                        <img src="src/assets/image/jing/number/1.png" data-toggle="modal" data-target="#collapse1"
                             style="width: 100%;height:auto;" /></a>
                </div>
                <div class="col-sm-3" data-toggle="tooltip" title="第一次见面呢!">
                    <a ng-click="setDIV(2)" onclick="play1()">
                        <img style="width: 100%;height:auto;"src="src/assets/image/jing/number/2.png"/></a>
                </div>
                <div class="col-sm-3" data-toggle="tooltip" title="新的开始~">
                    <a ng-click="setDIV(3)" onclick="play1()" >
                        <img style="width: 100%;height:auto;"src="src/assets/image/jing/number/3.png"/></a>
                </div>
                <div class="col-sm-3" data-toggle="tooltip" title="爱情是两个家庭的结合~">
                    <a onclick="play2()" ng-click="setDIV(4)">
                        <img style="width: 100%;height:auto;"src="src/assets/image/jing/number/4.png"/></a>
                </div>
            </div>
            <div style="margin-top: 5%">
                <div data-toggle="tooltip" title="半年的异地" style="width: 25%;margin: 0 auto;">
                    <a ng-click="setDIV(5)" onclick="play2()" >
                        <img style="width: 100%;height:auto;"src="src/assets/image/jing/number/5.png"/></a>
                </div>
            </div>
            <div style="margin-top: 5%">
                <div data-toggle="tooltip" title="美国的新生活" style="width: 25%;margin: 0 auto;">
                    <a ng-click="setDIV(6)" onclick="play2()" >
                        <img style="width: 100%;height:auto;"src="src/assets/image/jing/number/6.png"/></a>
                </div>
            </div>
            <div class="row" style="margin-top: 5%">
                <div class="col-sm-3" data-toggle="tooltip" title="NOW！">
                    <a ng-click="setDIV(9)" onclick="play4()">
                        <img src="src/assets/image/jing/number/9.png" style="width: 100%;height:auto;"/></a>
                </div>
                <div class="col-sm-3 col-sm-offset-1" data-toggle="tooltip" title="又一次生命！">
                    <a ng-click="setDIV(7)" onclick="play3()">
                        <img src="src/assets/image/jing/number/7.png" style="width: 100%;height:auto;"/></a>
                </div>
            </div>
            <div style="margin-top: 3%">
                <div data-toggle="tooltip" title="规划我们美好的未来~" style="width: 25%;margin-left:17%">
                    <a ng-click="setDIV(8)" onclick="play3()" >
                        <img style="width: 100%;height:auto;"src="src/assets/image/jing/number/8.png"/></a>
                </div>
            </div>
        </div>


        <div class="col-sm-7">
            <!--No.1 -->
            <div class="modal fade" id="collapse1" role="dialog">
                <div class="modal-dialog" >
                    <!-- Modal content-->
                    <div class="modal-content" >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="font-style: italic">2012年3月17日，ur Genesis~</h4>
                        </div>
                        <div class="modal-body">


                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="src/assets/image/jing/bg/01/01.png" >
                                    </div>

                                    <div class="item">
                                        <img src="src/assets/image/jing/bg/01/02.png" >
                                    </div>

                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <p style="margin-top: 4%; font-size: 1.5em;font-style: italic ">应该就是这条没错了！我承认是因为你的人人头像，当时加了你。然后不知咋地，头脑发热了，
                                就跟你说话了，我们的故事就这样开始了~ 那个时候的交流还都主要是在人人网上呢~虽然这网站不咋地，但现在看来还
                                是要感谢它的呢~</p>
                        </div>
                    </div>

                </div>
            </div>

            <!--No.2 -->
            <div ng-show="isCurrentDIV(2)">
                <img class="bigEntrance" src="src/assets/image/jing/bg/02/03.jpg"
                     style="border-radius:5%;width:50%;height:auto;transform:rotate(1.5deg);"/>
                <img class="pulse" src="src/assets/image/jing/bg/02/04.jpg"
                     style="border-radius:5%;width:40%;height:auto;margin-left:5%;transform:rotate(-1.5deg);"/>
                <div class="slideUp" style="margin-top: 3%">
                    <p style="font-size: 1.9em;color: seagreen;text-shadow: 0.1em 0.1em 0.05em #333;" >
                        不知怎么地，运动会那天你就去看我了，还顺便偷拍了我。之后的一段时间还给我送草莓，但我却并没有洞察出来什么。。。。。。
                        接下来的事情就想大多数的校园爱情的试探一样，我并没有留意你，你也就此变成路人。就这样，时间一点一滴地逝去，忍受了综合楼盛夏的声声蝉鸣，
                        也领略了校园里面的金黄银杏。我的日子平凡又简单地重复着，去GYM小玩一下，为了不挂科赶紧通宵复习，冲一百块Q币去穿越火线里虐虐小学生，在
                        人人网上转点东西赚点击量。但岂不知在这看似不能更平凡更百无聊赖的生活掩盖下，我的内心也有了一点点小小地改变&#9788;。</p>
                    <p style="font-size: 1.9em;color: seagreen;text-shadow: 0.1em 0.1em 0.05em #333;">
                        虽然我们再之后很少见面，但通过人人网上的交流，我渐渐地开始主动地去发掘你的优点。12年的9月，按捺不住心中的冲动，找了一个让你帮我参考中介
                        的理由，拉你出去吃了一次饭。听说某人还专门穿了一双新鞋出来呢~ <b>温柔体贴，善良贤惠，知书达理</b>，颇有大家闺秀的感觉呢
                        <span class="glyphicon glyphicon-heart"></span></p>
                    <p style="font-size: 1.9em;color: seagreen;text-shadow: 0.1em 0.1em 0.05em #333;">
                        也许这就是上帝对我们的安排，让我们在某个时间认识彼此，却并不急于在一起。彼此了解性格，
                        认知缺点，互相熟悉。就这样，时间一点一滴地逝去，一转眼2012年已经不在了&#9785</p>
                    <div style="margin-bottom:10%;">
                        <q style="font-size: 1.8em;float: right;font-style: italic">
                            <b>This is how God showed his love among us ——1 John 4:9</b></q>
                    </div>
                </div>
            </div>

            <!--No.3-->
            <div class="slideUp" ng-show="isCurrentDIV(3)">
                <div class="row">
                    <div class="col-sm-7">
                        <p style="font-size: 1.8em;color: #6699ff;text-shadow: skyblue 0px 2px, skyblue 2px 0px,
                         skyblue -2px 0px,skyblue 0px -2px, skyblue -1.4px -1.4px, skyblue 1.4px 1.4px,
                         skyblue 1.4px -1.4px, skyblue -1.4px 1.4px;">
                            2013年的4月，我正为托福考试努力着。从之前的打探得知你要来美国读书了，但那时我既为你有好的前程而高兴，同时自己内心也在辗转反侧，
                            我该怎么办呢？尝试了陪你拔牙，又使用树洞试探之后，那一天终于还是到来了。2013年的5月9号晚上，你去我们学校给我补习托福，在送你回家的
                            路上，清晰地记得是走在毛爷爷前面，我说，那你就从了我吧，然后你也傻乎乎地答应了。当晚，还轻轻地亲了你一下~
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <img class="slideRight"src="src/assets/image/jing/bg/03/01.jpg"
                             style="border-radius:3%;transform:rotate(1.5deg);"/>
                    </div>
                    <div class="col-sm-2">
                        <img class="fadeIn"src="src/assets/image/jing/bg/03/02.jpg"
                             style="border-radius:5%;transform:rotate(-2deg);margin-top:4%;margin-left: 5%"/>
                    </div>
                </div>

                <div class="row" style="margin-top: 3%">
                    <div class="col-sm-6" style="margin-bottom: 3%">
                        <div id="Carousel_for_3" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#Carousel_for_3" data-slide-to="0" class="active"></li>
                                <li data-target="#Carousel_for_3" data-slide-to="1"></li>
                                <li data-target="#Carousel_for_3" data-slide-to="2"></li>
                                <li data-target="#Carousel_for_3" data-slide-to="3"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="src/assets/image/jing/bg/03/03.jpg" style="width: 100%">
                                </div>

                                <div class="item">
                                    <img src="src/assets/image/jing/bg/03/04.jpg" style="width: 100%">
                                </div>
                                <div class="item">
                                    <img src="src/assets/image/jing/bg/03/05.jpg" style="width: 100%">
                                </div>
                                <div class="item">
                                    <img src="src/assets/image/jing/bg/03/06.jpg" style="width: 100%">
                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#Carousel_for_3" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#Carousel_for_3" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-off-1 col-sm-5">

                        <p style="font-size: 1.8em;color: #339933;text-shadow: 0.1em 0.1em 0.15em #333;">
                            接下来，我们过着热恋情侣般地日子，压马路，吃吃吃，阳光居。沉浸在爱情的喜悦里，差点都忘记了考试。虽然也会有磕磕绊绊，但总是能顺利解决。
                            当时的我只想着这种日子能够久一点，之后的留学，信主，可是我当时想都不敢想的。幸福的种子开始发芽破土，哪成想这一长就是将近四年~
                        </p>
                    </div>

                </div>
            </div>


            <!--No.4-->
            <div class="slideUp" ng-show="isCurrentDIV(4)">
                <div class="bounce" >
                    <p style="font-size: 1.7em;color: #6699ff; margin-top:3%;">
                        幸福美满的爱情离不开双发家庭的支持。相恋后不久，我就见到了来大连参加婚礼的你的爸爸妈妈。虽说首次见面很是紧张，但总算是通过了
                        第一次检验。在之后，我们就来到对象的家乡，感受不一样的风土人情。不得不感叹上帝的神奇，我们的家庭出奇的相似，无论是工作还是性格，
                        可以说从他们那里，我们不仅得到了最大的支持，更是通过他们身上的优良品质来提高了自己。
                    </p>
                </div>
                <hr>
                <div style="position:relative;width: 100%;min-height: 500px;height:auto;margin-top: 3%">

                    <div style="position: absolute; left: 0%;top: 0%;">
                        <img class="stretchRight"src="src/assets/image/jing/bg/04/01.jpg"
                        style="border-radius:5%;transform:rotate(4.5deg);width: 50%"/>
                    </div>
                    <div style="position: absolute; right: -15%;top: 5%;">
                        <img class="pullUp" src="src/assets/image/jing/bg/04/02.jpg"
                        style="border-radius:5%;width: 70%;transform:rotate(-3.5deg);"/>
                    </div>
                    <div style="position: absolute; left: -3%;top: 81%;">
                        <img class="stretchLeft" src="src/assets/image/jing/bg/04/03.jpg"
                             style="border-radius:30%;width: 40%;transform:rotate(-1.5deg);"/>
                    </div>
                    <div style="position: absolute; right: -10%;top: 65%;">
                        <img class="floating" src="src/assets/image/jing/bg/04/05.jpg"
                        style="border-radius:5%;width: 60%;transform:rotate(-1.5deg);"/>
                    </div>
                    <div style="position: absolute; left: 27%;top: 20%;wheight:auto;">
                        <img class="slideExpandUp" id="div10" src="src/assets/image/jing/bg/04/04.jpg"
                         style="border-radius:5%;width: 60%;transform:rotate(-1.5deg);"/>
                    </div>
                </div>
            </div>

            <!--No.5-->
            <div class="slideUp" ng-show="isCurrentDIV(5)">
                <div class="row" style="position: relative">
                    <img class="pullUp col-sm-5" src="src/assets/image/jing/bg/05/01.jpg"
                         style="border-radius:5%;transform:rotate(-3.5deg);"/>
                    <p class="col-sm-5" style="font-size: 1.6em;color: #6699ff; margin-top:3%;">
                        天有不测，我的签证没办下来，不能跟你一起去美国了。机场离别的时候，一想到要异地半年之久，而且还是相隔半个地球的
                        美国，我的心里说不出个滋味。当时的我真想把你一把抱在怀里，担忧害怕爸爸妈妈看了会更加伤心。无奈之下只好咬牙强打微笑
                        跟你道别。想我们上学的时候，最长的异地也就一两个月的时间，而这半年之久，该怎么度过呢？去了美国会不会有危险呢？生活
                        能习惯吗？本应我带你一起体验的生活，却只能让你一个人去面对，唉。。。而我现在能做的只有复习托福考试，
                        等签证或者重新申学校。
                    </p>
                    <img class="pullUp" src="src/assets/image/jing/bg/05/02.jpg"
                         style="border-radius:5%;transform:rotate(3.5deg);position: absolute;
                        right:-5%;width: 20%"/>
                </div>
                <div class="row" >
                    <p class="col-sm-5" style="font-size: 1.6em;color: #009999; margin-top:3%;">
                        不得不再次感叹上帝对我们慢慢地爱，我也申到了GWU。二话不说收拾行囊准备启程。虽然也要面对与父母的离别，但我还是订了最早
                        的机票，只渴望能早一点见到你。
                    </p>
                    <div style="position: relative;min-height: 500px">
                        <img class="pullUp" src="src/assets/image/jing/bg/05/03.jpg"
                             style="border-radius:5%;transform:rotate(-2.5deg);position: absolute;
                        right:-5%;width: 25%"/>
                        <img class="pullUp" src="src/assets/image/jing/bg/05/04.jpg"
                             style="border-radius:5%;transform:rotate(-2.5deg);position: absolute;
                        left:45%;top:5%;width: 25%"/>
                        <img class="pullUp" src="src/assets/image/jing/bg/05/05.jpg"
                             style="border-radius:5%;transform:rotate(-2.5deg);position: absolute;
                        left:60%;top:35%;width: 25%"/>
                    </div>
                </div>
            </div>

            <!--No.6-->
            <div class="slideUp" ng-show="isCurrentDIV(6)">
                <div class="row">
                    <img class="pullUp col-sm-4" src="src/assets/image/jing/bg/06/07.jpg"
                         style="border-radius:5%;transform:rotate(-3.5deg);"/>
                    <img class="pullUp col-sm-4" src="src/assets/image/jing/bg/06/03.jpg"
                         style="border-radius:5%;transform:rotate(2.5deg);"/>
                    <img class="pullUp col-sm-4" src="src/assets/image/jing/bg/06/08.jpg"
                         style="border-radius:5%;transform:rotate(-3.5deg);"/>
                </div>
                <div class="row">
                    <div id="Carousel6" class="carousel slide col-sm-5" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#Carousel6" data-slide-to="0" class="active"></li>
                            <li data-target="#Carousel6" data-slide-to="1"></li>
                            <li data-target="#Carousel6" data-slide-to="2"></li>
                            <li data-target="#Carousel6" data-slide-to="3"></li>
                            <li data-target="#Carousel6" data-slide-to="4"></li>
                            <li data-target="#Carousel6" data-slide-to="5"></li>
                            <li data-target="#Carousel6" data-slide-to="6"></li>

                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="src/assets/image/jing/bg/06//1/01.jpg" >
                            </div>
                            <div class="item">
                                <img src="src/assets/image/jing/bg/06//1/02.jpg" >
                            </div>
                            <div class="item">
                                <img src="src/assets/image/jing/bg/06//1/04.jpg" >
                            </div>
                            <div class="item">
                                <img src="src/assets/image/jing/bg/06//1/05.jpg" >
                            </div>
                            <div class="item">
                                <img src="src/assets/image/jing/bg/06//1/06.jpg" >
                            </div>
                            <div class="item">
                                <img src="src/assets/image/jing/bg/06//1/10.jpg" >
                            </div>
                            <div class="item">
                                <img src="src/assets/image/jing/bg/06//1/11.jpg" >
                            </div>

                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#Carousel6" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#Carousel6" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="col-sm-offset-1 col-sm-6" style="margin-top: 4%">
                        <p style="font-size: 1.6em;color: #006600;">
                            作为你的圣诞节大礼包，我成功地在圣诞节前登陆。如果说本科阶段我们只是相爱跟学习，那么接下来我们就是相爱，
                            学习与生活了。我们一起去图书馆自习，一起去逛动物园，一起领略DMV的各种美食。如果说刚开始相爱的时候，心里会
                            觉得，嗯，生活中多了一个伴侣的话，那么来了美国之后，不知不觉中，我已经把你当成了生活中的一部分了，有了好消息，
                            好玩的表情，好吃的，都想着第一时间跟你分享。在一起走过了两三年之后，你，已经成了我的家人~
                        </p>
                        <p style="font-size: 1.6em;color: #006600;">
                            后来，我们家又增添了新的成员，傻傻的荷兰猪们以及我们可爱的肉包。虽然远在他乡，虽然还是租的房子，但有爱的地方，
                            就是自己的家，而有你的地方，就有爱！
                        </p>

                    </div>
                </div>
            </div>

            <!--No.7-->
            <div class="slideUp" ng-show="isCurrentDIV(7)">
                <div class="row">
                    <img class="pullUp col-sm-4" src="src/assets/image/jing/bg/07/01.jpg"
                         style="border-radius:10%;transform:rotate(-3.5deg);"/>
                    <img class="pullUp col-sm-4" src="src/assets/image/jing/bg/07/04.jpg"
                         style="border-radius:10%;transform:rotate(2.5deg);"/>
                    <img class="pullUp col-sm-4" src="src/assets/image/jing/bg/07/02.jpg"
                         style="border-radius:10%;transform:rotate(-2.5deg);"/>
                </div>
                <div class="row">
                    <img class="pullUp col-sm-4" src="src/assets/image/jing/bg/07/03.jpg"
                         style="border-radius:10%;transform:rotate(2.5deg);"/>
                    <div class="col-sm-offset-1 col-sm-6" style="margin-top: 3%">
                        <p style="font-size: 1.6em;color: #006600;">
                            一生中最大地祝福，就是能认识主耶稣！圣灵在我身上以完全预料不到地方式，改变了我。七个月之后，你也与我一道，
                            追随了主耶稣。从此我们不仅是情侣，是家人，更是主里面的血脉相连。
                        </p>
                        <q style="font-size: 1.8em;float: right;font-style: italic">
                            <b>Therefore we are buried with him by baptism into death: that like as Christ was raised
                                up from the dead by the glory of the Father, even so we also should walk in newness
                                of life. —— Romans 6:4</b></q>
                    </div>
                </div>
            </div>

            <!--No.8-->
            <div style="position: relative" ng-show="isCurrentDIV(8)">
                <div class="row">
                    <img class="pullUp col-sm-5" src="src/assets/image/jing/bg/08/01.jpeg"
                         style="border-radius:5%;transform:rotate(-3.5deg);"/>
                    <img class="pullUp col-sm-5 col-sm-offset-2" src="src/assets/image/jing/bg/08/02.jpg"
                         style="border-radius:5%;transform:rotate(2.5deg);"/>
                </div>
                <div class="row" style="margin-top: 15%">
                    <img class="pullUp col-sm-5" src="src/assets/image/jing/bg/08/03.jpeg"
                         style="border-radius:5%;transform:rotate(3.5deg);"/>
                    <img class="pullUp col-sm-4 col-sm-offset-3" src="src/assets/image/jing/bg/08/04.jpg"
                         style="border-radius:5%;transform:rotate(-2.5deg)";/>
                </div>
                <div style="position: absolute;top: 30%;left:20%;width:60%;">
                    <p style="font-size: 1.6em;color: #006600;">
                        我们也曾幻想过未来的美好生活，挑一个什么样子的钻戒呢，买个多大的房子呢，要几个孩子呢，以后父母怎么办呢。
                        那时候的我们，从来也没有觉得，
                        原来这些事情距离我们是这么的触手可及，直到我们的工作双双落定。
                    </p>
                    <p style="font-size: 1.6em;color: #006600;">
                        时间如白驹过隙，回想过去，仿佛昨天我们还在大工校园里羞涩地表白，仿佛我们刚刚游历了泰山，离别时的心情依然沉重，
                        在CT门前相隔半年的见面还是能够让我热泪盈眶，毕业典礼上高呼着的你的名字还在耳边徘徊。
                    </p>
                </div>
            </div>

            <!--No.9-->
            <div style="margin-top: 8%" ng-show="isCurrentDIV(9)">
                <img class="pullUp col-sm-8" src="src/assets/image/jing/bg/09/01.jpeg"
                     style="border-radius:10%;position:fixed;
                     top: 5%;left:20%;width:60%;height:auto;"/>
            </div>


        </div>
    </div>


    <!--<ul class="pager" style="position: fixed;right: 10px; bottom:0px">-->
        <!--<li><button class="btn btn-primary" ng-click="prevPart()">Prev</button></li>-->
        <!--<li><button class="btn btn-primary" ng-click="nextPart()">Next</button></li>-->
    <!--</ul>-->
    <div ng-hide="true">
        <audio id = "audio1" controls loop ng-hide="true">
            <source src="src/assets/image/jing/bgm/bgm1.mp3" type="audio/mp3">
        </audio>
        <audio id = "audio2" controls loop ng-hide="true">
            <source src="src/assets/image/jing/bgm/bgm2.mp3" type="audio/mp3">
        </audio>
        <audio id = "audio3" controls loop ng-hide="true">
            <source src="src/assets/image/jing/bgm/bgm3.mp3" type="audio/mp3">
        </audio>
        <audio id = "audio4" controls loop ng-hide="true">
            <source src="src/assets/image/jing/bgm/bgm4.mp3" type="audio/mp3">
        </audio>
    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        video1 = document.querySelector("#audio1");
        video2 = document.querySelector("#audio2");
        video3 = document.querySelector('#audio3');
        video4 = document.querySelector('#audio4');
        function play1(){
            video4.pause();
            video3.pause();
            video2.pause();
            video1.play();
        }
        function play2(){
            video1.pause();
            video3.pause();
            video4.pause();
            video2.play();
        }
        function play3(){
            video1.pause();
            video2.pause();
            video4.pause();
            video3.play();
        }
        function play4(){
            video1.pause();
            video2.pause();
            video3.pause();
            video4.play();
        }
    </script>
</div>