<div class="container-fluid" ng-controller="JingController">

<img src = "src/assets/image/jing/background.jpg" style="position:fixed;top: 0; left:0; min-width:100%; min-height:100%">
    <div class="row" style="margin-top: 6%; ">
        <!--No.1 -->
        <div class="nav nav-bar " style="position:absolute;left:7%;top:7%"
             data-toggle="tooltip" title="初始的试探~">
            <a ng-click="setDIV(1)"><img src="src/assets/image/jing/number/1.png"
                    data-toggle="modal" data-target="#collapse1"/></a>
        </div>
        <div class="modal fade" id="collapse1" role="dialog" style="margin-top: 3%">
            <embed src = "src/assets/image/jing/bgm/bgm1.mp3" autostart="true" width="0" height="0"></embed>
            <div class="modal-dialog" >
                <!-- Modal content-->
                <div class="modal-content" >
                    <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="font-style: italic">2012年3月17日，ur Genesis~</h4>
                        </div>
                    <div class="modal-body">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="src/assets/image/jing/bg/01.png" >
                                </div>

                                <div class="item">
                                    <img src="src/assets/image/jing/bg/02.png" >
                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <p style="margin-top: 4%; font-size: 1.5em;font-style: italic ">应该就是这条没错了！我承认是因为你的人人头像，当时加了你。然后不知咋地，头脑发热了，
                                就跟你说话了，我们的故事就这样开始了~ 那个时候的交流还都主要是在人人网上呢~虽然这网站不咋地，但现在看来还
                            是要感谢它的呢~</p>
                        </div>
                </div>

            </div>
        </div>

        <!--No.2 -->
        <div class="nav nav-bar " style="position:absolute;left:16%;top:10%"
             data-toggle="tooltip" title="第一次见面呢!">
            <a ng-click="setDIV(2)"><img src="src/assets/image/jing/number/2.png"/></a>
        </div>s
        <img class="bigEntrance" id = "div1" ng-show="isCurrentDIV(2)" src="src/assets/image/jing/bg/03.jpg"/>
        <img class="pulse" ng-show="isCurrentDIV(2)"id="div2" src="src/assets/image/jing/bg/04.jpg"/>
        <div class="slideUp" id="div3" ng-show="isCurrentDIV(2)">
            <p style="font-size: 1.8em;width: 80%" >不知怎么地，运动会那天你就去看我了，还顺便偷拍了我。之后的一段时间还给我送草莓，
            但我却并没有洞察出来什么。。。。。。但也许这就是上帝对我们的安排，让我们在某个时间认识彼此，却并不急于在一起。彼此了解性格，
            认知缺点，互相熟悉~</p>
        </div>


        <div class="nav nav-bar " style="position:absolute;left:25%;top:8%">
            <a ng-click="setDIV(3)"><img src="src/assets/image/jing/number/3.png"
                    data-toggle="collapse" data-target="#collapse3"/></a>
        </div>
        <div class="nav nav-bar " style="position:absolute;left:33.5%;top:9%">
            <a><img src="src/assets/image/jing/number/4.png"
                    data-toggle="collapse" data-target="#collapse4"/></a>
        </div>
        <div class="nav nav-bar " style="position:absolute;left:20%;top:25%">
            <a><img src="src/assets/image/jing/number/5.png"
                    data-toggle="collapse" data-target="#collapse5"/></a>
        </div>
        <div class="nav nav-bar " style="position:absolute;left:21%;top:42%">
            <a><img src="src/assets/image/jing/number/6.png"
                    data-toggle="collapse" data-target="#collapse6"/></a>
        </div>
        <div class="nav nav-bar " style="position:absolute;left:20%;top:58%">
            <a><img src="src/assets/image/jing/number/7.png"
                    data-toggle="collapse" data-target="#collapse7"/></a>
        </div>
        <div class="nav nav-bar " style="position:absolute;left:17%;top:72%">
            <a><img src="src/assets/image/jing/number/8.png"
                    data-toggle="collapse" data-target="#collapse8"/></a>
        </div>
        <div class="nav nav-bar " style="position:absolute;left:12%;top:86%">
            <a><img src="src/assets/image/jing/number/9.png"
                    data-toggle="collapse" data-target="#collapse9"/></a>
        </div>
        <div class="nav nav-bar " style="position:absolute;left:5%;top:80%">
            <a><img src="src/assets/image/jing/number/10.png"
                    data-toggle="collapse" data-target="#collapse10"/></a>
        </div>
    </div>

    <div id="collapse3" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>3</h1>
    </div>
    <div id="collapse4" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>4</h1>
    </div>
    <div id="collapse5" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>5</h1>
    </div>
    <div id="collapse6" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>6</h1>
    </div>
    <div id="collapse7" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>7</h1>
    </div>
    <div id="collapse8" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>8</h1>
    </div>
    <div id="collapse9" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>9</h1>
    </div>
    <div id="collapse10" class="collapse" style="position: absolute;left:50%; top:20%">
        <h1>10</h1>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>