<div class="container-fluid" style="margin-top: 4%" ng-controller="BlogController as BlogCtrl" ng-init="BlogCtrl.load()">

        <div class="row content">

            <div class="col-sm-2 sidenav">
                <h4>John's Blog</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a >All blogs<span class="badge" style="float: right">{{BlogCtrl.blog_number || 0}}</span></a></li>
                    <li><a >Algorithm</a></li>
                    <li><a >Java</a></li>
                    <li><a >Ruby</a></li>
                    <li><a >Javascript</a></li>
                    <li><a >Database</a></li>
                </ul><br>


                <div class="input-group" style="margin-top: 3%">
                    <input type="text" class="form-control" placeholder="Search Blog..">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                        </button></span>
                </div>
            </div>







            <div class="col-sm-10">
                <h4><small>RECENT POSTS</small></h4>
                <hr>
                <h4>Books:</h4>
                <ul>
                    <li>
                        <a href="https://alvinmengcao.gitbooks.io/algorithm-notes/content/" target="_blank" style="font-size:  3em; font-style: italic">
                            Algorithms Notes & Solutions</a>
                        <p>
                            My algorithms notes. Published by <i>gitbook.io</i>
                        </p>
                    </li>
                </ul>
                <hr>

                <h4>Single Blogs</h4>
                <ul ng-repeat = "data in BlogCtrl.lists">
                    <li>
                        <h2><a href="{{data.url}}">{{data.title}}</a> </h2>
                        <h5><span class="glyphicon glyphicon-time"></span> Post in {{data.date | date : 'dd/MM/yyyy'}}</h5>
                        <h5><span class="label label-default">{{data.tag1 || no}}</span>
                            <span class="label label-primary">{{data.tag2 || no}}</span>
                            <span class="label label-success">{{data.tag3 || no}}</span>
                            <span class="label label-info">{{data.tag4 || no}}</span>
                            <span class="label label-warning">{{data.tag5 || no}}</span>
                            <span class="label label-danger">{{data.tag6 || no}}</span>
                        </h5><br>
                        <p>{{data.description}}</p>
                        <br><br>
                    </li>
                </ul>
                <hr>


                <h4>Leave a Comment:</h4>
                <form role="form" ng-submit="BlogCtrl.addComment()">
                    <textarea ng-model="BlogCtrl.comment" class="form-control" rows="3" required></textarea>

                    <div class="form-inline " style="margin-top: 1%">
                        <input ng-model="BlogCtrl.email" type="email" class="form-control" placeholder="Enter email to get picture" required>
                        <input ng-model="BlogCtrl.name" type="text" class="form-control" placeholder="Enter display name" required>
                        <button type="submit" class="btn btn-success" >Submit</button>
                    </div>
                </form>

                <hr>
                <div style="margin-top: 2% ; clear: left"><p><span class="badge">{{BlogCtrl.comment_number || loading}}</span> Comments:</p><br></div>

                <div class="row">




                    <ul ng-repeat = "c in BlogCtrl.comments | orderBy:'id'" style="list-style-type: none">
                        <li>
                            <div>
                                <div class="col-sm-2 text-center">
                                    <img src="{{c.url}}" class="img-circle" height="65" width="65" alt="Avatar">
                                </div>
                                <div class="col-sm-10">
                                    <h4>{{c.name}} &nbsp&nbsp&nbsp &nbsp&nbsp<small>{{c.date | date : 'M/d/yy h:mm a' }}</small></h4>
                                    <p>{{c.comment}}</p>
                                    <br>
                                </div>
                                <hr>
                                <hr>
                            </div>
                        </li>
                    </ul>
                    <hr>

                </div>



            </div>

        </div>


    </div>

