#part1{
    background-color:#1ABC9C;
    width: 100%;
    margin:0 auto;
}
#part2{
    background-color: #19586d;
    color:gainsboro;
}
#part3{
    background-color: #474e5d;
    color:gainsboro;
}

#my_photo{
    text-align: center;
    margin:0 auto;
    margin-top: 100px;
    width: 30%;
}
#my_photo img{
    border-radius: 50%;
    width: 100%;
}
.introduction{
    width: 70%;
    margin:0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

.introduction h2{
    font-style: oblique;
    padding-top: 2%;

}
.additional-information{
    font-style: oblique;
    font-weight: bold;
    color: #a94442;
}
.skill{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 25px;
}
code{
    font-style:normal;
}
footer{
     background-color: black;
 }

.albums{
    width: 100%;
    float: left;
}
.albums-inner{
    width: 1400px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
.albums-title {
    float: left;
    width: 100%;
    color: rgba(53,117,159,1);
    font-size: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(53,117,159,1);
    line-height: 50px;
    margin-bottom: 100px;
}
.albums-tab{
    float: left;
    width: 350px;
    margin-right: 40px;
    margin-bottom: 100px;
}
.albums-tab:nth-child(3n+0) {
    margin-right: 0px;
}

.albums-tab-thumb{
    float: left;
    width: 360px;
    height: 300px;
}
.albums-tab-thumb img {
    width: 100%;
    background-color: rgba(255,255,255,1);
    padding: 5px;
}
.albums-tab-text{
    float: left;
    width: 100%;
    text-align: center;
    color: rgba(53,117,159,1);
    margin-top: 30px;
    font-size: 2em;
}
.albums-tab-text span {
    font-size: 14px;
    color: rgba(102,102,102,1);
}
.clearable{
    background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */


.bigEntrance{
    animation-name: bigEntrance;
    -webkit-animation-name: bigEntrance;

    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;

    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;

    visibility: visible !important;
}
@keyframes bigEntrance {
    0% {
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}
@-webkit-keyframes bigEntrance {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0.2;
    }
    30% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    45% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    75% {
        -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

#div1{
    position: absolute;
    left:25%;
    top:10%;
}
#div2{
    position: absolute;
    left:75%;
    top: 15%;
    border-radius: 50%;
    height: 30%;
}
#div3{
    position: absolute;
    left:30%;
    top:80%
}
