#part1{
    background-color:#1ABC9C;
    width: 100%;
    margin:0 auto;
}
#part2{
    background-color: #19586d;
    color:gainsboro;
}
#part3{
    background-color: #474e5d;
    color:gainsboro;
}

#my_photo{
    text-align: center;
    margin:0 auto;
    margin-top: 100px;
    width: 30%;
}
#my_photo img{
    border-radius: 50%;
    width: 100%;
}
.introduction{
    width: 70%;
    margin:0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
}

.introduction h2{
    font-style: oblique;
    padding-top: 2%;

}
.additional-information{
    font-style: oblique;
    font-weight: bold;
    color: #a94442;
}
.skill{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 25px;
}
code{
    font-style:normal;
}
footer{
     background-color: black;
 }

.albums{
    width: 100%;
    float: left;
}
.albums-inner{
    width: 1100px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}
.albums-title {
    float: left;
    width: 100%;
    color: rgba(53,117,159,1);
    font-size: 20px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(53,117,159,1);
    line-height: 50px;
    margin-bottom: 100px;
}
.albums-tab{
    float: left;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.albums-tab:nth-child(3n+0) {
    margin-right: 0px;
}

.albums-tab-thumb{
    float: left;
    width: 300px;
    height: 200px;
}
.albums-tab-thumb img {
    height: auto;
    width: 100%;
    background-color: rgba(255,255,255,1);
    padding: 5px;
}
.albums-tab-text{
    float: left;
    width: 100%;
    text-align: center;
    color: rgba(53,117,159,1);
    margin-top: 25px;
    font-size: 2em;
}
.albums-tab-text span {
    font-size: 14px;
    color: rgba(102,102,102,1);
}